<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Transaction{{transaction.TransactionNumber}}</h3>
</div>
<div class="modal-body">
    <tb-transaction-details details="transaction" can-edit-vehicle-class="canEditVehicleClass"></tb-transaction-details>
    <tb-transaction-images ng-if="!!images" images="images"></tb-transaction-images>
</div>
<div class="modal-footer">
    <div ng-if="!images" class="pull-left">
        <span class="fa-stack fa-lg">
            <i class="fa fa-camera fa-stack-1x"></i>
            <i class="fa fa-spinner fa-pulse fa-stack-2x text-danger"></i>
        </span> Pending image retrieval. Please check back later.
    </div>
    <button class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>
